export( "snqProfitCalc" )
export( "snqProfitEla" )
export( "snqProfitEst" )
export( "snqProfitFixEla" )
export( "snqProfitHessianDeriv" )
export( "snqProfitHessian" )
export( "snqProfitImposeConvexity" )
export( "snqProfitShadowPrices" )
export( "snqProfitWeights" )

S3method( "predict", "snqProfitEst" )
S3method( "predict", "snqProfitImposeConvexity" )
S3method( "print", "snqProfitEst" )
S3method( "print", "snqProfitImposeConvexity" )
S3method( "residuals", "snqProfitEst" )
S3method( "residuals", "snqProfitImposeConvexity" )

importFrom( "miscTools", "checkNames" )
importFrom( "miscTools", "insertCol" )
importFrom( "miscTools", "insertRow" )
importFrom( "miscTools", "rSquared" )
importFrom( "miscTools", "semidefiniteness" )
importFrom( "miscTools", "triang" )
importFrom( "miscTools", "vecli" )
importFrom( "miscTools", "veclipos" )

importFrom( "systemfit", "systemfit" )
