export( "snqProfitCalc" )
export( "snqProfitEla" )
export( "snqProfitEst" )
export( "snqProfitFixEla" )
export( "snqProfitHessianDeriv" )
export( "snqProfitHessian" )
export( "snqProfitImposeConvexity" )
export( "snqProfitShadowPrices" )
export( "snqProfitWeights" )

S3method( "predict", "snqProfitEst" )
S3method( "predict", "snqProfitImposeConvexity" )
S3method( "print", "snqProfitEst" )
S3method( "print", "snqProfitImposeConvexity" )
S3method( "residuals", "snqProfitEst" )
S3method( "residuals", "snqProfitImposeConvexity" )
