export( "checkNames" )
export( "coefTable" )
export( "colMedians" )
export( "rowMedians" )
export( "compPlot" )
export( "insertCol" )
export( "insertRow" )
export( "logDataSet" )
export( "nObs" )
export( "quasiconcavity" )
export( "quasiconvexity" )
export( "rSquared" )
export( "semidefiniteness" )
export( "symMatrix" )
export( "triang" )
export( "vecli" )
export( "vecli2m" )
export( "veclipos" )

S3method( "nObs", "default" )
S3method( "nObs", "lm" )
