export( "crsCv" )
export( "crsGradFactor" )
export( "npplregCv" )
export( "npregCv" )
export( "npregGradFactor" )
export( "npregHom" )
export( "npscoefGrad" )
export( "plotCrs" )
export( "sfactor2bw" )

S3method( "elas", "npregHom" )

importFrom( "crs", "crs" )
# importFrom( "crs", "predict.crs" )  # does not work

importFrom( "micEcon", "elas" )
importFrom( "micEcon", ".quadFuncCheckHomWeights" )
importFrom( "micEcon", ".quadFuncVarHom" )

importFrom( "miscTools", "checkNames" )

importFrom( "np", "npreg" )
